{{> head }}

    
    {{> navbar }}

    <div class="container">
        <div class="row">
            <div class="col-8">
                <h1>MEAN Stack</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima id iure sint quas incidunt quaerat natus iste. Magni corrupti sit, at accusantium repudiandae est optio magnam, laudantium tenetur dolorum nam?</p>
            </div>
            <div class="col-4">
                <img src="{{ imagen }}" class="img-thumbnail">
            </div>
        </div>
    </div>

{{> footer }}